* {
  padding: 0;
  margin: 0;
}

body {
    background-image: url('images/topography.png');
}

.navi, .logo {
  display: flex;
}

.navi {
  justify-content: space-between;
}

ul {
  display: flex;
  justify-content: flex-end;
}


li {
  list-style-type: none;
  display: flex;
  margin-left: 30px;
  font-family: 'Source Sans Pro', sans-serif;
}

.navi {
  height: 50px;
  background-color: rgb(51, 51, 51);
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
}

.item {
  color: rgb(255, 0, 153);
  text-decoration: underline;
  text-transform: uppercase;
}

main {
  font-family: courier;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 30px;
}

a {
  text-decoration: none;
  color: rgb(255, 0, 153);
}

a:hover {
  color: yellow;
}

.role {
  color: rgb(255, 0, 153);
  font-size: 30px;
  margin-bottom: 20px;
}

.name {
  margin-top: 70px;
  margin-bottom: 20px;
  font-size: 40px;
}


.separator {
  text-align: center; 20px;
  margin-top: 40px;
  letter-spacing: 20px;
}


.techwiki {
  font-size: 35px;
  text-align: center;
  margin-top: 40px;
}

.wikiparagraphs p {
  margin-top: 20px;

}

.wikititle {
  margin-top: 60px;
}
