* {
  margin: 0;
  padding: 0;
}
html, body {
  min-height: 100%;
  background: lavenderblush;
}



header {
  background: purple;
  height: 50px;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  z-index: 1;
}

header ul {
  display: flex;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%
}

.social li {
  width: 20px;
  height: 30px;
  background: cyan;
  list-style-type: none;
  margin-left: 20px;
}

.navi li {
  width: 80px;
  height: 30px;
  background: cyan;
  list-style-type: none;
  margin-right: 20px;
}


main {
  display: flex;
  min-height: calc(100vh - 150px);
  max-width: 800px;
  margin: 0 10%;
  flex-direction: column;
  padding-top: 60px;
}


footer {
  background: grey;
  height: 50px;
  margin: 0 10%;
  margin-top: 20px;
}

.row-1, .row-2 {
  display: flex;
}

.row {
  flex-grow: 1;
  max-width: 50%;

}

section {
  background: chartreuse;
  margin: 10px;
  height: 250px;


}

.gallery-1 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-2 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-2-2 {
  flex-grow: 2;
}

.item {
  height: 200px;
  width: 100%;
  max-width: 100px;
  background: grey;
}
