* {
  margin: 0;
  padding: 0;
}

body {
  padding: 30px;
}
div {
  padding: 30px;
  border: 1px solid grey;
  margin-bottom: 30px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
}

.articles div h1,
.articles div p,
.articles div a {
  margin-bottom: 10px;
  text-decoration: none;
}

a {
  color: #008B8B;
}
