* {
  padding: 0;
  margin: 0;
}
body{
  color: #fff;
  font-family: 'Nunito Semibold';
  text-align: center;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, minmax(100px, auto));
  width: 100%;
  height: 300px;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background: #red;
}

header {
  background: #AF3AFB;
  grid-column: 1 / 13;
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  align-items: center;
}

header div {
  background: #3BEAFD;
  display: grid;
  align-items: center;
  height: 3rem;
}

.one {
    grid-column: 2 / 3;
}


aside {
  grid-column: 2 / 5;
  background: #57D226;
  grid-row: 2 / 10;
}

main {
  grid-column: 5 / 12;
  background: #FED541;
  grid-row: 2 / 10;
}

footer {
  background: #FFFFFF;
  grid-column: 2 / 12;
  background: #CCCCCC;
}
