* {
  margin: 0;
  padding: 0;
}
html, body {
  min-height: 100%;
  background: lavenderblush;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 10%;
}

header {
  background: purple;
  height: 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header ul {
  display: flex;
  align-items: center;
}

.social li {
  width: 20px;
  height: 30px;
  background: cyan;
  list-style-type: none;
  margin-right: 20px;
}

.navi li {
  width: 80px;
  height: 30px;
  background: cyan;
  list-style-type: none;
  margin-right: 20px;
}

.navi li:first-child {
  margin-left: 20px;
}

header li:last-child {
  margin-right: 20px;
}


main {
  display: flex;
  margin-top: 20px;
  min-height: calc(100vh - 150px);
}
section {
  background: yellow;
  flex: 8;
}

aside {
  background: green;
  width: 200px;
}

footer {
  background: grey;
  height: 50px;
  margin-top: 20px;
}

.gallery {
  display: flex;
  justify-content: center;
}
.image {
  background: red;
  width: 100%;
  max-width: 100px;
  height: 100px;
  margin: 10px;

}

p {
  text-align: left;
  padding: 10px;
}

.columns {
  column-count: 2;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.button {
  height: 30px;
  background: grey;
  margin: 10px;
}
