<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Hello</title>
  </head>
  <body>
    <main>
      <h1>The big quiz game</h1>
      <h3>Score: <span>0</span></h3>
      <section class="container">
      </section>
      <p>
        <a href="#" class="manage">Manage questions</a>
      </p>
    </main>
    <script src="/static/script.js">
    </script>
  </body>
</html>
