<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My beautiful reddit site</title>
    <link rel="stylesheet" href="src/static/style.css">
  </head>
  <body>
    <header>
      <img src="/Users/Balazs/dev/greenfox/bbosze/week-08/day4/reddit/src/imgs/astronaut.png" alt="">
      <h1>s p a c e</h1>
    </header>
    <main>
      <section>
        <article>
          <div class="votecontainer">
            <button type="button" class="upvote">
              <img src="/Users/Balazs/dev/greenfox/bbosze/week-08/day4/reddit/src/imgs/upvote.png" alt="">
            </button>
            <p class="votenumber">0<p/>
            <button type="button" class="downvote">
              <img src="/Users/Balazs/dev/greenfox/bbosze/week-08/day4/reddit/src/imgs/downvote.png" alt="">
            </button>
          </div>
          <div class="contentcontainer">
            <h2>Dummy content</h2>
            <a href="www.index.hu" target="_blank">www.index.hu</a>
          </div>
        </article>
        <article>
          <div class="votecontainer">
            <button type="button" class="upvote">
              <img src="/Users/Balazs/dev/greenfox/bbosze/week-08/day4/reddit/src/imgs/upvote.png" alt="">
            </button>
            <p class="votenumber">0<p/>
            <button type="button" class="downvote">
              <img src="/Users/Balazs/dev/greenfox/bbosze/week-08/day4/reddit/src/imgs/downvote.png" alt="">
            </button>
          </div>
          <div class="contentcontainer">
            <h2>Dummy content</h2>
            <a href="www.index.hu" target="_blank">www.index.hu</a>
          </div>
        </article>
        <article>
          <div class="votecontainer">
            <button type="button" class="upvote">
              <img src="/Users/Balazs/dev/greenfox/bbosze/week-08/day4/reddit/src/imgs/upvote.png" alt="">
            </button>
            <p class="votenumber">0<p/>
            <button type="button" class="downvote">
              <img src="/Users/Balazs/dev/greenfox/bbosze/week-08/day4/reddit/src/imgs/downvote.png" alt="">
            </button>
          </div>
          <div class="contentcontainer">
            <h2>Dummy content</h2>
            <a href="www.index.hu" target="_blank">www.index.hu</a>
          </div>
        </article>
        <article>
          <div class="votecontainer">
            <button type="button" class="upvote">
              <img src="/Users/Balazs/dev/greenfox/bbosze/week-08/day4/reddit/src/imgs/upvote.png" alt="">
            </button>
            <p class="votenumber">0<p/>
            <button type="button" class="downvote">
              <img src="/Users/Balazs/dev/greenfox/bbosze/week-08/day4/reddit/src/imgs/downvote.png" alt="">
            </button>
          </div>
          <div class="contentcontainer">
            <h2>Dummy content</h2>
            <a href="www.index.hu" target="_blank">www.index.hu</a>
          </div>
        </article>
      </section>
      <aside>
      </aside>
    </main>
  </body>
</html>
